@import 'nib'

body
	font-size 16px


textarea
	resize none


.frmRegistro
	margin-top 10px
.box-map
	height: 338px
	width 45%
	display: inline-block
	margin-left: 4%
.box
	display: flex !important
	flex-wrap: wrap !important
	form
		width 50%
.title
	width: 100%
.container
	width 95% !important
	form
		width 50%
		display: inline-block
		margin: 0
@media screen and (max-width: 768px)
	.box-map,
	.container form
		display: block
		width 100%
